# Dépendances
node_modules/

# Sorties de build / artefacts
dist/
build/
coverage/
*.cache/
.cache/
.parcel-cache/
.storybook-out/
storybook-static/

# Variables d'environnement
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Caches/outils
.eslintcache
.stylelintcache
*.tsbuildinfo

# OS & éditeurs
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.iml
